body {
    background-image: url('https://cdn.pixabay.com/photo/2016/05/10/15/29/bear-1383980_960_720.jpg');
    background-size: cover;
    font-family: "Helvetica Neue", sans-serif;
    color: #d3f800;
}